body, ul, li{
    margin: 0;
    padding: 0;
}

.container{
	box-shadow:0 0 10px #333;
    margin: 0 100px;
}

.header{
    width: 100%;
    height: 50px;
    background-color: #ff4700;
}

.header-left{
    padding-top: 15px;
    padding-left: 50px;
    font-size: 18px;
    float: left;
    color: #ffffff;
}

.header-left a{
    text-decoration: none;
    color: #ffffff;
}

.header-right{
    padding-top: 8px;
    padding-right: 50px;
    float: right;
}

.fix{
    padding-left: 50px;
    padding-right: 50px;
}

.dashboard-main a{
    margin: 0 20px;
    text-decoration: none;
    color: #000000;
    float: left;
    padding: 30px;
    width: 100px;
    height: 20px;
    background-color: #ffff00;
    text-align: center;
    border: 1px solid #000000;
    box-shadow: 5px 5px #cccccc;
}

.dashboard-main a:hover{
    color: #ffffff;
    background-color: #efb206;
}

.dashboard-main a:first-child{
    margin-left: 0px;
}

.dashboard-main ul li{
    list-style: none;
}

.fix-input{
    padding-bottom: 30px;
}

.fix-input input{
    width: 100px;
    height: 50px;
}

.fix-table tr td img{
    width: 50px;
    height: 50px;
    position: center;
}

.option-button button{
    width: 60px;
    height: 30px;
}

.table-design{
	border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #000000;
    box-shadow: 5px 5px #cccccc;
}

.table-design th{
    height: 20px;
}

.table-design td{
    width: 50px;
    height: 10px;
    padding: 10px;
}

.content-main{
    padding-left: 50px;
}

.form-main tr td input{
    padding: 10px;
}

.form-main tr td select{
    width: 193px;
    height: 40px;
}

.btn{
    margin-top: 10px;
    width: 100px;
    height: 50px;
}

.logout{
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
}

.main{
    width: 100%;
    height: 700px;
    background-color: #ffffff;
}

.navbar{
    width: 15%;
    height: 100%;
    float: left;
    background-color: #e4914a;
}

.navbar a{
    text-decoration: none;
}

.navbar ul li{
    padding: 10px;
    padding-left: 30px;
    list-style: none;
    border: 1px solid #000000;
    background-color: #f7e400;
}

.navbar ul li:hover{
    color: #ffffff;
    border: 1px solid #d4d4d4;
    background-color: #e6d93f;
}

.navbar font{
    color: #000000;
}

.content{
    width: 85%;
    height: 100%;
    float: right;
}

.footer{
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    width: 100%;
    height: 50px;
    background-color: #ff4700;
}